<template name="addSizeForm">
<form>
  <p>Title: {{ sizingSession.title }}</p>
  <p>Description: {{ sizingSession.description }}</p>
    <p>
      Points:
        <select name="points">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      Description: <input type="text" size="20" name="size">
    </p>
    <p>{{> sizesList }}</p>
    <input type="submit" class="add enjoy-button" value="Add Size">
    <input type="submit" class="start enjoy-button" value="Start Sizing">
    <input type="submit" class="cancel enjoy-button" value="Cancel">
  </form>
</template>
