<template name="moderatorCreate">
    <form>
      <p>Title: <input type="text" size="24" name="title"></p>
      <p>Description: <textarea rows="3" cols="24" name="description"></textarea></p>
      <p>Size scale:</p>
      <!-- <ul>
        {{#each player}}
          <li class="player {{selectedClass}}"> {{name}} : {{score}} </li>
        {{/each}}
    </ul> -->
      <p>Points:
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
      </select>
      Description: <input type="text" size="20" name="sizeDescription">
      </p>
      <input type="submit" class="button-add enjoy-button" value="Add Size">
      <input type="submit" class="button-start enjoy-button" value="Start Sizing">
      <input type="submit" class="button-cancel enjoy-button" value="Cancel">
    </form>
</template>
